@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --margin-left:2rem;
}
*{
    box-sizing: border-box;
}

button,
input,
select,
textarea{
    font-family: inherit;
    font-size 100%;
    width: 270px;
    height:2rem;
    padding:0;
    margin:0;

}

input:valid{
    border: 3px green solid;
}

input[type="password"]:invalid:focus{
    background-color:red;
    opacity:0.5;
}

input{
    border: 2px lightgrey solid;
    border-radius: 5px;
    background-color: rgb(240, 238, 235, 0.1)
}

input:focus{
    border:3px blue solid;
    box-shadow: 0px 0px 4px black;
    background-color:white;

}

body{
    display: flex;
    font-family: Roboto, sans-serif;
    margin:0;
}

.background-img-container{
    position:relative;
    height: 100vh;
    min-width: 40vw;
    display: flex;
    background-image:url('./images/background-img.jpg');
    background-size: 100% 100%;

}

.logo{
    height:10%;
    width:10%;
}


.logo-container {
    background: rgb(0,0,0, 0.4   );
    color: white; 
    display: flex;
    flex-direction:row;
    position:absolute;
    width: 40vw;
    top: 14.5rem;
    text-align: center;
    font-size: 5rem;
    justify-content:center;
}

.main-container{
    display:flex;
    flex-direction:column;
}

.top-container{
    flex-direction:column;
}
.text-container{
    display:flex;
    flex-direction:column;
    margin-top: 4rem;
    margin-left: var(--margin-left);
    font-size: 1.4rem;
    min-width:200px;
    font-weight: 600;
}

.bot-container{
    display:flex;
    flex-direction:column;
    height:30vh;
}

.top-container,
.form-container{
   display:flex;
   height: 35vh;

}


.bot-container,
.top-container{
    background-color: #F1F1F1;
    
}
.form-row{
    display:flex;
    flex-direction:column;
    margin-bottom:1.5rem;
    margin-right:6rem;
    padding:0.4rem;
}
.form-row-container{
    display:flex;
    flex-direction:row
}

.form-container{
    background-color: white;
    display:flex;
    flex-direction:column;
    padding-left: var(--margin-left);
    overflow: auto;
    box-shadow: 1px 18px 21px -11px grey;
    z-index:10;
    position: relative;
}

button[type="submit"]:hover{
    background-color: #0A2647;
    color:white;
}

button[type="submit"]{
    background-color: #579BB1;
    font-weight:600;
    color:white;
    margin-left:var(--margin-left);
    margin-top: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;
    font-size:1.4rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content:center;
}

.login-text{
    margin-top:2rem;
    margin-left:var(--margin-left);
}

.color-bold{
    color: #579BB1;
}

.flex-row{
    display:flex;
    flex-direction:row;
}